<h1>Subs</h1>
<% if signed_in? %>
  <%= button_to "Create Sub", new_sub_url, method: :get %><br>
<% end %>


<% @subs.each do |sub| %>
<h2><%= link_to "#{sub.title}", sub_url(sub) %></h2>
<h3><%= sub.description %></h3>
<br>
<% end %>